/* Contact Manager styles */

.contact-manager .page-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contact-manager .page-head > * {
  display: flex !important;
}
